@font-face {
	font-family: 'Sans';
}

* {
	outline: none;
}

html {
	background: url('background.png') no-repeat;
	background-size: 100%;
	font-family: 'Sans';
	font-size: 14px;
}

#parent {
	width: 648;
	height: 380;
	position: absolute;
	margin: auto;
	top: 0; bottom: 200;
	right: 0; left: 0;
}

#about-text {
	position: absolute;
	margin: auto;
	height: 45px;
	width: 250px;
	top: 0;
	right: 0; left: 400;
	background-color: rgba(0, 0, 0, 0.3);

}

#about-img {
	position: absolute;
	margin: auto;
	height: 100px;
	width: 250px;
	top: 52;
	right: 0; left: 400;
}

#hosted-text {
	position: absolute;
	margin: auto;
	height: 55px;
	width: 250px;
	top: 159;
	right: 0; left: 400;
	background-color: rgba(0, 0, 0, 0.3);
}

#nextcloud-img {
	position: absolute;
	margin: auto;
	height: 100px;
	width: 250px;
	top: 221;
	right: 0; left: 400;
}

#plex-img {
	position: absolute;
	margin: auto;
	height: 100px;
	width: 250px;
	top: 328;
	right: 0; left: 400;
	background: #fff;
}

#favs-img {
	position: absolute;
	margin: auto;
	height: 65px;
	width: 250px;
	top: 435;
	right: 0; left: 400;
	background: #fff;
}

li {
	display: inline;
	padding-right: 16;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-left: 6;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

.title {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 5;
	color: #fff;
}

.text {
	font-size: 12px;
	margin-top: 0;
	margin-left: 5;
	color: #fff;
}

#madlad {
	position: absolute;
	margin: auto;
	top: 0; bottom: ;
	left: 0; right: 350;
	height: 500;
	width: 375;
}